@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */
/* 

#387d7a 
#1d201f
#AB92BF
#B8B8D1
*/


body{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    position: relative;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    background: linear-gradient(to bottom, rgba(171, 146, 191, 0.9), rgba(144, 57, 215, 0.8), rgba(56, 125, 122, 0.7));
}

h1, p{
    color: #1d201f;
}

h1{
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #AB92BF;
    padding: 8px;
    border-radius: 16px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

nav a, footer a{
    text-decoration: none;
    padding: 12px;
    background: rgba(166, 79, 206, 0.3);
    margin: 0 8px;
    color: #1d201f;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a:hover, footer a:hover{
    background: rgba(166, 79, 206, 0.9);
}

nav button{
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
}

main{
    position: relative;
    background: #AB92BF;
    background-image: url(../Assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    background:linear-gradient(to bottom, rgba(171, 146, 191, 0.7), rgba(56, 125, 122, 0.7), rgba(144, 57, 215, 0.7));
    border: 1px solid #1d201f;
    border-radius: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    margin: 0 auto;
    padding: 32px;
}

.container .pad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
}

.container .pad > div{
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    width: 72px;
    height: 72px;
    border: 1px solid #1d201f;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
}

#output{
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #1d201f;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    max-height: 128px;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
}

main .background-container{
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

main .background-container .background-item{
    font-size: 16px;
    font-weight: 400;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: linear-gradient(to bottom, rgba(171, 146, 191, 0.7), rgba(144, 57, 215, 0.8), rgba(56, 125, 122, 0.9));
    font-weight: 500;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}